.hero {
    background-color:navy;
    height: 75px;
    padding-top: 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25pt;
}

.card {
    border: none;
    background-color: lightgray;
    height: 575px;
    margin-left: -15px;
    border-radius: 0%;
}

.form-input {
    margin-left: -10px;
    margin-top: -20px;
    border-color: lightgray;
    height: 35px;
}

.form-input:focus {
    outline: none;
}

.form {
    height: 30rem;
    border-bottom-right-radius: 10px;
}
.search {
    padding-left: 10px;
    padding-top: 5px;
}

.btn {
    background-color: blue;
    margin-left: -6px;
    margin-top: -4px;
}

.listGroup {
    margin-left: 105%;;
    margin-top: -120%;
    border: lightgray;
    border-style: groove;
    padding-bottom: 10px;
    border-radius: 10px;
}

#name {
    margin-left: 0%;
    margin-bottom: 20px;
    padding-top: 20px;
}

#temp, #humidity, #wind, #UV {
    margin-left: -10%;
}

.card-deck {
    margin-left: 98%;
}

.forecast{
    height:11rem;
    width: 50rem;
    background-color: lightseagreen;
    border-radius: 10px;
}

.day {
    margin-left: 98%;
    padding-top: 10px;
    padding-bottom: 5px;
}