.hero {
    background-color:navy;
    height: 85px;
    padding-top: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25pt;
    font-weight: bold;
}

.card {
    border: none;
    background-color: lightgray;
    margin-left: -15px; 
}

.form-input {
    margin-left: -10px;
    margin-top: -30px;
    border-color: lightgray;
    height: 35px;
}

.form-input:focus {
    outline: none;
}

.form {
    height: 30rem;
    border-bottom-right-radius: 10px;
}
.search {
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: -2%;
    font-weight: bold;
}

.btn {
    background-color: blue;
    margin-left: -6px;
    margin-top: -4px;
}

.listGroup {
    margin-left: 103%;;
    margin-top: -118%;
    border: lightgray;
    border-style: groove;
    padding-bottom: 10px;
    border-radius: 10px;
}

.oneDayTitle {
    padding-top: 10px;
    font-weight: bold;
}

.oneDay {
    color: black;
    padding-bottom: 9px;
    font-weight: bold;
}

.card-deck {
    margin-left: 98%;
}

.forecast{
    height:10rem;
    width: 10rem;
    background-color: lightseagreen;
    border-radius: 10px;
}

#fiveDay {
    margin-left: 61%;
    margin-right: -50%;
    padding-top: 6px;
    padding-bottom: 3px;
    font-weight: bold;
    
}

.dayOne {
    margin-left: -9px;
}

 .dayTwo, .dayThree, .dayFour, .dayFive {
    margin-left: -15px;
    margin-top: -92%;
}


.card-title {
    font-size: 12pt;
    padding-top:10px;
    color: white;
    font-weight: bold;
}

.card-text {
    color: white;
    font-size: small;
    padding-bottom: 5px;
    font-weight: bold;
}



