header {
    background-color: black;
    height:70px;
}

.title {
    background-color:navy;
    height: 65px;
    padding: 5px;
    color: white;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    border: none;
    background-color: lightgray;
    height: 575px;
    margin-left: -15px;
    margin-top: -8px;
    border-radius: 0%;
}

.form-input {
    margin-left: -10px;
    margin-top: -20px;
    border-color: lightgray;
    height: 35px;
}

.form-input:focus {
    outline: none;
}

.card-body {
    margin-top: -25px;
}

.search {
    padding-left: 10px;
    padding-top: 5px;
}

.btn {
    background-color: blue;
    margin-left: -6px;
    margin-top: -4px;
}


